body {
    font-size: 18px;
}

.home-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.home-body header {
    flex: 0;
    display: flex;
    width: 100vw;
    background-color: #ffddaa;
}

.home-body header h1 {
    text-align: center;
    flex: 1;
}

#log-out-btn {
    flex: none;
    height: 48px;
    align-content: center;
    align-self: center;
    margin-right: 24px;
    background-color: #ffaa88;
}

#log-out-btn:hover {
    border-width: 1px;
    border-color: #ffccaa;
    background-color: #ff6655;
}

.home-container {
    background-color: #fff6dd;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 0px 20px;
}

.home-container button {
    background-color: #cccccc;
    border-width: 3px;
    border-color: #cccccc;
    transition-duration: 0s;
}

.home-container button:hover {
    background-color: #ffddbb;
    border-width: 3px;
    border-color: #ffccaa;
}

.home-container button.pressed {
    background-color: #ffccaa;
    border-color: #ff9977;
    border-width: 3px;
}

.home-container button:focus {
    outline-color: #ff9977;
}

.toggle {
    justify-content: space-between;
}

.toggle>p {
    display: inline-block;
    flex: 0;
    white-space: nowrap;
    margin: 0;
}

#human-ai-toggle {
    display: flex;
    flex-direction: row;
    gap: 20%;
    margin: 15px 10% 0 10%;
}

#vs-human-btn,
#vs-ai-btn {
    flex: 1;
}

#side-toggle {
    display: flex;
    align-items: center;
    gap: 5%;
    padding-top: 15px;
    margin-right: 5%;
}

#play-white-btn,
#play-random-btn,
#play-black-btn {
    flex: 1;
}

.handicap-container {
    padding: 10px 0px;
}

#handicap-dropdown {
    font-size: 16px;
}

#ai-type-toggle {
    display: flex;
    align-items: center;
    gap: 5%;
    padding-top: 15px;
    margin-right: 5%;
}

#ai-menu.hide {
    display: none;
}

#ai-menu.show {
    display: block;
}

.home-container .cancel-challenge-btn,
.home-container .accept-challenge-btn,
#play-btn {
    background-color: #ffff22;
    border-width: 2px;
    border-color: #cccc00;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-self: center;
    font-weight: bold;
}

#play-btn {
    margin-top: 25px;
    width: 200px;
    height: 50px;
}

.home-container .cancel-challenge-btn:hover,
.home-container .accept-challenge-btn:hover,
#play-btn:hover {
    background-color: #ffffaa;
    border-width: 2px;
    border-color: #cccc00;
}

.home-container .cancel-challenge-btn:focus,
.home-container .accept-challenge-btn:focus,
#play-btn:focus {
    outline-color: #cccc00;
}

.challenges-table {
    width: 100%;
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
}

.challenges-table th,
.challenges-table td {
    border: 1px solid black;
}